* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    /*background-color: #efeee7; */
    line-height: 1.5;
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: oblique;
    font-size: 20px;
    /*color: #333;*/
    color: #efeee7;
    background: linear-gradient(black, #333, black);
}

a{
    text-decoration: none;
    color: #eee;
}

/*header start*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    flex-wrap: wrap;
    border-top: 2px groove white;
    border-bottom: 2px groove white;
    border-radius: 10px;
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    font-style: oblique;
    z-index: 9999;
}

header h1 {
    margin: 0px;
    padding: 0px;
    color: #eee;
    text-align: center;
    font-size: 40px;
 
}
header nav{
    margin: 0px;
    padding: 0px;
    
}

header nav ul{
    width: 100%;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    list-style: none;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    gap: 0px;
}

header nav ul li{
    padding: 10px 30px;
    margin: 0px;
    border-right: 1px groove  rgba(255, 255, 255, 0.3) ;
    border-left: 1px groove   rgba(255, 255, 255, 0.3) ;
}

header nav ul li a{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

header nav ul li a img{
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 15px;
}

header nav ul li:hover a img{
    position:relative;
  /*  top: -20px;
    left: -20px;*/
    width:65px;
    height:65px;
    z-index:999;
    padding: 0px;
}

header nav ul li:hover a p{
    font-size: 20px;
}

header nav ul li:hover{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* End header */

/* start top button*/
.top-button{
    display: none;
    position: fixed;
    bottom: 50px;
    right: 40px;
    z-index: 9999;
    opacity: 0.3;
}

.top-button:hover{
    opacity: 1;
}

.top-button div img{
    width: 70px;
    height: 70px;
    border-radius: 15px;
}
/* End top button */

/* Start bio section*/
.bio {
    width: 100%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bio div{
    padding: 30px 0px 10px 40px;
    margin: 0px;
    text-align: center;
    flex: 1;
    width:50%;

}

.bio h2 {
    font-size: 30px;
    text-align: start;
    padding: 60px 0px 0px 6%;
}

.bio h3 {
    font-size: 25px;
    text-align: start;
    padding: 10px 0px 0px 11%;
    font-weight: normal;
}

.bio div img {
    width: 400px;
    height: 400px;
    border: 5px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.bio p{
    flex: 1;
    width:50%;
}
/*End of bio section */

/* Section common*/
.section-content{
    width: 100%;
    display: flex;
    padding-top: 90px;
    margin-right: 60px ;
    flex-wrap: wrap;
}

.section-title{
    width: 15%;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-align: right;
    border-right: 2px groove white;
}

.section-body {
    width:85%;
    padding: 40px 5%;
}

.section-body p{
    line-height: 1.7;
}

button{
    width:  fit-content;
    height: fit-content;
    border-radius: 10px;
    /* background-color:linear-gradient(black, #333, black);
    color: aliceblue; */
    margin-top: 15px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
}

button:hover{
    background-color: rgb(110, 110, 110);
    color: aliceblue;
    cursor: pointer;
}
  
/* remove border for bottun on click */
button:focus{
    outline: none;
} 


/*start project Section */
.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 30px;
    margin-right: 30px;
}

.grid-container a {
    width: 100%;
    height: 100%;
}

.grid-item {
    display: flex;
    justify-content: left;
    align-items: flex-end;
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin: 5px;
    border-radius: 10px;  
    background-color: #333;
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.grid-item::before{
    content: "";
    background-color: royalblue;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}

.grid-item:hover::before{
    content: none;
}

.grid-item:hover{
    position:relative;
    top:-25px;
    left:-35px;
    width:120%;
    height:120%;
    z-index:999;
}

.grid-item div{
    background-color: #333 ;
    opacity: 90%;
    position:relative;
    bottom: 20px;
    padding: 10px;
    padding-right: 30px;
}

.project-1{
    grid-row:  span 4;
    grid-column: span 2;
    background-image: url("../images/run-buddy.JPG");
}

.project-2{
    grid-row: span 5;
    grid-column: span 1;
    background-image: url("../images/Horiseon.JPG");
}

.project-3{
    grid-row: span 3;
    grid-column: span 1;
    background-image: url("../images/demo-image.jpg");
}

.project-4{
    grid-row: span 3;
    grid-column: span 1;
    background-image: url("../images/demo-image.jpg");
}

.project-5{
    grid-row: 6/8;
    grid-column: 3/4;
    background-image: url("../images/demo-image.jpg");
}
.project-6{
    grid-row: 7/8;
    grid-column: 3/4;
    visibility: hidden;
}
/*End of projects section*/

/* start contant section */
.contact-info {
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact-info ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: 1;
}

.contact-info ul li{
    padding: 5px;
    text-align: center;
    flex: 1;
}

.contact-info ul li a{
    white-space: nowrap;
}

.contact-info ul li img{
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.contact-info ul li:hover img{
    position:relative;
  /*  top: -20px;
    left: -20px; */
    width:90px;
    height:90px;
    z-index:999;
    padding: 0px;
}

.contact-info ul li:hover a p{
    font-size: 20px;
}

.contact-info ul li a:visited{
    color: royalblue;
}

.contact-info ul li:hover{
    padding: 0px;
}
/*End of contacts section*/

/* FOOTER STYLES START */
footer {
    margin-top: 50px;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px groove white;
    flex: 1;
  }
  
  footer h2 {
    font-size: 25px;
    margin: 0;
  }
  
  footer div {
    text-align: right;
  }
  
  /* END FOOTER STYLES */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 990px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }

     header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    .top-button{
        display: block;
    }

    .section-content{
        padding-top: 40px;
    }

    .section-title{
        width: 18%;
    }

    .section-body{
        width: 82%;
        padding-right: 3%;
        padding-left: 3%;
    }

    .bio{
        margin-bottom: 0px;
    }

    .bio div{
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
    }

    .bio div h2{
        padding-top: 20px;
    }

    #about-me{
        margin-top: 10px;
    }

    .grid-item::before{
        content: none;
    }

    .contact-info{
        
        align-items: center;
    }
    
    .contact-info ul{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
    }

    .contact-info ul li{
        width: 200px;
        text-align: center;
    }


    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .section-content{
        margin: 10px auto;
    /*    padding: 10px auto;*/
    }

    .section-title{
        width: 100%;
        border: 0px;
        margin: 10px auto;
     /*   padding: 10px auto;*/
    }
    .section-title h2{
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        width: 60%;
        border-bottom: 2px groove white;
    }

    .section-body{
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        text-align: center;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    header{
        padding: 10px;
        margin-top: 10px;
    }

    header h1{
        margin-top: 10px;
        font-size: 40px;
        line-height: 2;
    }

    header nav ul li {
        padding: 0px 15px 10px 15px;
    }

    .bio{
        padding: 0 10px;
    }

    .bio h2, .bio h3{
        padding: 10px;
        text-align: center;
    }

    .bio div img{
        width: 300px;
        height: 300px;
    }

    button{
        background-color: #efeee7;
    }

    .grid-container{   
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(10, 1fr);
    }

    .project-1{
        grid-row:  1/5;
        grid-column: 1/3;
    }
    
    .project-2{
        grid-row: 5/10;
        grid-column: 1/2;
    }
    
    .project-3{
        grid-row: 5/8;
        grid-column: 2/3;
    }

    .project-4{
        grid-row: 8/11;
        grid-column: 2/3;
    }

    .project-5{
        grid-row: span 1;
        grid-column: 1/2;
    }

    .project-6{
        grid-row: 12/13;
        grid-column: 1/2;
        visibility: hidden;
        display: none;
    }
}